* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #0659a7;
  padding: 0 30px;
  font-family: Arial, sans-serif;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: auto;
  height: 50px;
}

#stock,
#panel {
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-bottom: 1px solid transparent;
}

#stock:hover,
#panel:hover {
  border-image-source: linear-gradient(to right, transparent, white);
  border-image-slice: 1%;
  animation: border-animation infinite;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.icon-nav {
  width: auto;
  height: 25px;
  color: white;
  padding-right: 5px;
}

.icon-generic {
  width: auto;
  height: 20px;
  color: white !important;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

nav a:hover {
  color: #666;
}

.user-settings {
  display: flex;
  align-items: center;
}

span {
  margin: 0 35px;
  font-size: 20px;
  color: #ccc;
}
.user-settings a {
  color: #333;
  font-size: 20px;
}

.user-settings a:hover {
  color: #666;
}

.inner-box{
  bottom: 0;
  position: absolute;
  width: 85%;
}

.out-box {
  margin: 0 7%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  margin-bottom: 25px;
}

.tab {
  margin-right: 10px;
}

.tab-link {
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}

.tab-link.active {
  background-color: #007bff;
}

h1 {
  text-align: left;
  padding-top: 35px;
}

.grid {
  margin-top: auto;
  margin-bottom: 5rem;
  flex-grow: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 70%;
}

button {
  display: block;
  width: max-content;
  margin-right: 30px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 400px;
  margin-top: 10px;
  text-align: center;
  bottom: 0;
}

thead {
  height: 55px;
  position: sticky;
  top: 0;
}

th {
  background-color: #e6e6e6;
  opacity: 1;
}

th,
td {
  padding-left: 10px;
  font-size: 20px;
  text-align: left;
  color: #2c2c2c;
  border-bottom: 1px solid #ddd;
  position: relative;
}

td {
  padding: 10px;
  font-size: 16px;
}

th::after,
td::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  border-right: 1px solid #bdbdbd;
  transform: translateY(50%);
}

th:last-child::after,
td:last-child::after {
  border-right: none;
}

thead > tr {
  background-color: #000000;
  overscroll-behavior-block: contain;
  border-bottom: 1px solid #c5c5c5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

tbody {
  min-height: 400px;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

.table-container {
  overflow-y: auto;
  max-height: 400px;
  margin-top: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  width: 50%;
}

.modal-error {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-error-content {
  background-color: #eeeeee;
  color: #000000;
  margin: 4% auto;
  padding: 12px 20px;
  width: max-content;
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 30px 1px black;
}

.modal-error-content p {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-error.hide {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-error.show {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  pointer-events: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
