* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #0659a7;

  padding: 0 30px;
  font-family: Arial, sans-serif;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: auto;
  height: 50px;
}

#stock,
#panel {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-nav {
  width: auto;
  height: 25px;
  color: white;
  padding-right: 5px;
}

.icon-generic {
  width: auto;
  height: 20px;
  color: white !important;
}

/* Estilos dos menus */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

nav a:hover {
  color: #666;
}

/* Estilos do ícone do usuário e engrenagem */
.user-settings {
  display: flex;
  align-items: center;
}

span {
  margin: 0 35px;
  font-size: 20px;
  color: #ccc;
}
.user-settings a {
  color: #333;
  font-size: 20px;
}

.user-settings a:hover {
  color: #666;
}
