/* Modal */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(143, 143, 143, 0);
}

.modal-content {
  display: flex;
  margin: 30vh auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 40px #000000;
  width: 100%;
  max-width: 500px;
  transition: 0.3s ease-in-out;
  color: #fff;
  background: #1f1f1f;
  flex-direction: column;
  align-items: center;
}

.modal-content input,
.modal-content button {
  color: #fff;
  border: none;
  background-color: #1a1a1a;
}

.modal-content input:hover{
  transition: 0.3s ease-in-out;
  border-radius: 12px;
}

.modal-content .close {
  color: #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* Formulário */
.register-form {
  width: 85%;
  color: #fff;
  background-color: #1f1f1f;
}

.register-form label {
  display: block;
  text-align: left;
  margin: 10px 0;
  color: rgb(163, 163, 163);
  font-size: 16px;
}

.register-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: #333333;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

#submit-signup{
  position: relative;
  background-color: #4359a0;
  color: #fff;
  border: none;
  padding: 12px 12px;
  width: 35%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #4349a0;
  transform: scale(1.1);
}

.close:hover {
  color: #bbb;
  transform: scale(1.2);
}

.required{
  color:red;
  font-size: 15px;
}

.modal-fadein {
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}